In [1]:
import yfinance as yf
import pandas as pd
import mysql.connector

df = yf.download("ZC=F", start="2015-01-01", end="2024-12-31")
df.reset_index(inplace=True)

df = df[['Date', 'Open', 'High', 'Low', 'Close', 'Volume']]
df.columns = ['date', 'open', 'high', 'low', 'close', 'volume']

df['volume'] = df['volume'].fillna(0)
df[['open', 'high', 'low', 'close']] = df[['open', 'high', 'low', 'close']].fillna(0)
df = df.drop_duplicates(subset=['date'])

df['date'] = pd.to_datetime(df['date']).dt.date

df['volume'] = df['volume'].apply(lambda x: int(x))
df['open'] = df['open'].apply(lambda x: float(x))
df['high'] = df['high'].apply(lambda x: float(x))
df['low'] = df['low'].apply(lambda x: float(x))
df['close'] = df['close'].apply(lambda x: float(x))

conn = mysql.connector.connect(
    host='database-1.cba44miw26by.ap-northeast-2.rds.amazonaws.com',
    user='psy',
    password='0000',
    database='pig'
)
cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS corn_futures")
cursor.execute("""
    CREATE TABLE corn_futures (
        date DATE PRIMARY KEY,
        open FLOAT,
        high FLOAT,
        low FLOAT,
        close FLOAT,
        volume INT
    )
""")


data = [(
    row['date'],
    float(row['open']),
    float(row['high']),
    float(row['low']),
    float(row['close']),
    int(row['volume'])
) for _, row in df.iterrows()]


insert_sql = """
    INSERT INTO corn_futures (date, open, high, low, close, volume)
    VALUES (%s, %s, %s, %s, %s, %s)
"""
cursor.executemany(insert_sql, data)

conn.commit()
cursor.close()
conn.close()

print("옥수수 선물 데이터가 MySQL에 성공적으로 삽입되었습니다!")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

옥수수 선물 데이터가 MySQL에 성공적으로 삽입되었습니다!

In [2]:
import yfinance as yf
import pandas as pd
import mysql.connector


df = yf.download("USDKRW=X", start="2015-01-01", end="2024-12-31")
df.reset_index(inplace=True)

df = df[['Date', 'Open', 'High', 'Low', 'Close']]
df.columns = ['date', 'open', 'high', 'low', 'close']

df[['open', 'high', 'low', 'close']] = df[['open', 'high', 'low', 'close']].fillna(0)

df = df.drop_duplicates(subset=['date'])

df['date'] = pd.to_datetime(df['date']).dt.date


df['open'] = df['open'].apply(lambda x: float(x))
df['high'] = df['high'].apply(lambda x: float(x))
df['low'] = df['low'].apply(lambda x: float(x))
df['close'] = df['close'].apply(lambda x: float(x))


conn = mysql.connector.connect(
    host='database-1.cba44miw26by.ap-northeast-2.rds.amazonaws.com',
    user='psy',
    password='0000',
    database='pig'
)
cursor = conn.cursor()


cursor.execute("DROP TABLE IF EXISTS exchange_rate")
cursor.execute("""
    CREATE TABLE exchange_rate(
        date DATE PRIMARY KEY,
        open FLOAT,
        high FLOAT,
        low FLOAT,
        close FLOAT
    )
""")


data = [(
    row['date'],
    float(row['open']),
    float(row['high']),
    float(row['low']),
    float(row['close'])
) for _, row in df.iterrows()]

insert_sql = """
    INSERT INTO exchange_rate (date, open, high, low, close)
    VALUES (%s, %s, %s, %s, %s)
"""
cursor.executemany(insert_sql, data)


conn.commit()
cursor.close()
conn.close()

print("USD/KRW 환율 데이터가 MySQL에 성공적으로 삽입되었습니다")

[*********************100%***********************]  1 of 1 completed

USD/KRW 환율 데이터가 MySQL에 성공적으로 삽입되었습니다

In [3]:
import mysql.connector
import pandas as pd

# MySQL 연결
conn = mysql.connector.connect(
    host='database-1.cba44miw26by.ap-northeast-2.rds.amazonaws.com',
    user='psy',
    password='0000',
    database='pig'
)
cursor = conn.cursor()

# 연간 평균 데이터를 가져오는 쿼리
query = """
    SELECT cf.year, cf.corn_close AS corn_price, er.usdkrw_close AS exchange_rate, 
           cf.corn_close * er.usdkrw_close AS krw_based_price
    FROM (
        SELECT DATE_FORMAT(date, '%Y') AS year, AVG(close/100) AS corn_close 
        FROM corn_futures 
        GROUP BY DATE_FORMAT(date, '%Y')
    ) cf
    JOIN (
        SELECT DATE_FORMAT(date, '%Y') AS year, AVG(close) AS usdkrw_close
        FROM exchange_rate
        GROUP BY DATE_FORMAT(date, '%Y')
    ) er
    ON cf.year = er.year;
"""

# 쿼리 실행
cursor.execute(query)

# 결과를 데이터프레임으로 변환
rows = cursor.fetchall()
columns = ['year', 'corn_price', 'exchange_rate', 'krw_based_price']
corn_df = pd.DataFrame(rows, columns=columns)

# MySQL 연결 종료
cursor.close()
conn.close()

# 데이터 출력
print(corn_df)

   year  corn_price  exchange_rate  krw_based_price
0  2015    3.766726    1129.992490      4256.372308
1  2016    3.584540    1158.687008      4153.359926
2  2017    3.592241    1129.928255      4058.974645
3  2018    3.680663    1099.446478      4046.691590
4  2019    3.833879    1164.024425      4462.728761
5  2020    3.633300    1178.353741      4281.313112
6  2021    5.819851    1143.850536      6657.039906
7  2022    6.938855    1291.037695      8958.322827
8  2023    5.637070    1305.279728      7357.953196
9  2024    4.236863    1361.472228      5768.370695

In [4]:
import pandas as pd

# 엑셀 파일 경로
file_path = '/home/sungyoon/dev_ws/eda/data/월별 년도별 배합사료가격(00년_25년) ~2월 (1).xls'

# 모든 시트를 딕셔너리 형태로 읽어오기
sheets = pd.read_excel(file_path, sheet_name=None)

# 각 시트를 데이터프레임으로 접근
for sheet_name, df in sheets.items():
    print(f"Sheet name: {sheet_name}")
    print(df)

Sheet name: 년도별가격동향
    ○ 월별 배합사료(공장도) 가격 동향  Unnamed: 1  Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0                    NaN         NaN         NaN        NaN        NaN
1               1. 2000년         NaN         NaN        NaN        NaN
2                    NaN         NaN         NaN        NaN        NaN
3                    축종별          1월          2월         3월         4월
4                    양계용      262.31      260.51     263.24     263.87
..                   ...         ...         ...        ...        ...
281                  젖소용  620.023714  619.311934        NaN        NaN
282                  고기소  518.059303  518.428237        NaN        NaN
283                 기  타  628.171495   636.34927        NaN        NaN
284                 오  리  596.223963  604.819945        NaN        NaN
285            양축용\n가중평균  610.056803  611.851742        NaN        NaN

    Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0          NaN        NaN        NaN        NaN        NaN         NaN
1          NaN        NaN        NaN        NaN        NaN         NaN
2          NaN        NaN        NaN        NaN        NaN         NaN
3           5월         6월         7월         8월         9월         10월
4       263.05      266.3     264.36     260.81     255.97      256.78
..         ...        ...        ...        ...        ...         ...
281        NaN        NaN        NaN        NaN        NaN         NaN
282        NaN        NaN        NaN        NaN        NaN         NaN
283        NaN        NaN        NaN        NaN        NaN         NaN
284        NaN        NaN        NaN        NaN        NaN         NaN
285        NaN        NaN        NaN        NaN        NaN         NaN

    Unnamed: 11  Unnamed: 12 Unnamed: 13
0           NaN          NaN         NaN
1           NaN          NaN         NaN
2           NaN  (단위 : 원/kg)         NaN
3           11월          12월          평균
4        258.66       256.58  261.036667
..          ...          ...         ...
281         NaN          NaN  619.667824
282         NaN          NaN   518.24377
283         NaN          NaN  632.260382
284         NaN          NaN  600.521954
285         NaN          NaN  610.954272

[286 rows x 14 columns]
Sheet name: 00~25
   Unnamed: 0 Unnamed: 1   Unnamed: 2   Unnamed: 3   Unnamed: 4   Unnamed: 5  \
0         NaN        NaN          NaN          NaN          NaN          NaN
1         NaN        NaN          NaN          NaN          NaN          NaN
2         NaN        NaN          NaN          NaN          NaN          NaN
3          구분        NaN  2000.000000  2001.000000  2002.000000  2003.000000
4          양계        NaN   261.113333   285.698333   286.636667   276.051667
5         NaN         육추   242.449167   265.292500   265.094167   254.115000
6         NaN        산란계   241.003333   264.741667   265.227500   257.837500
7         NaN         육계   291.160833   317.992500   317.651667   305.345000
8         NaN         종계   252.348333   266.495000   266.854167   252.592500
9          양돈        NaN   313.152500   347.100833   347.130833   330.677500
10         낙농        NaN   242.016667   261.683333   267.129167   260.823333
11         비육        NaN   210.862500   221.795000   223.185833   225.137500
12         기타        NaN   314.589167   335.490000   338.301667   343.240000
13       전체평균        NaN   269.402500   297.355833   300.395000   289.234167
14        NaN        NaN          NaN          NaN          NaN          NaN
15        NaN        NaN          NaN          NaN          NaN          NaN
16         구분        NaN  2000.000000  2001.000000  2002.000000  2003.000000
17         양계        NaN   261.113333   285.698333   286.636667   276.051667
18        NaN       산란계용   242.449167   265.292500   265.094167   254.115000
19        NaN        육계용   241.003333   264.741667   265.227500   257.837500
20         양돈        NaN   313.152500   347.100833   347.130833   330.677500
21         낙농        NaN   242.016667   261.683333   267.129167   260.823333
22         비육        NaN   210.862500   221.795000   223.185833   225.137500
23         기타        NaN   314.589167   335.490000   338.301667   343.240000
24       전체평균        NaN   269.402500   297.355833   300.395000   289.234167

     Unnamed: 6   Unnamed: 7   Unnamed: 8  Unnamed: 9  ...  Unnamed: 14  \
0           NaN          NaN          NaN         NaN  ...          NaN
1           NaN          NaN          NaN         NaN  ...          NaN
2           NaN          NaN          NaN         NaN  ...          NaN
3   2004.000000  2005.000000  2006.000000     2007.00  ...         2012
4    314.065833   282.932500   272.620833      306.43  ...   529.258333
5    292.334167   260.166667   248.286667      279.95  ...   486.160833
6    298.924167   265.858333   256.254167      288.78  ...       493.08
7    344.070833   315.093333   302.940000      338.95  ...     583.7775
8    314.065833   223.032500   224.821667      244.51  ...   445.685833
9    376.710833   366.969167   367.091667      403.12  ...   644.331667
10   299.969167   284.561667   285.561667      321.70  ...     502.7575
11   261.710000   242.272500   238.356667      275.85  ...   428.973333
12   381.489167   348.245833   331.258333      356.53  ...   563.579167
13   328.231667   306.237500   300.599167      335.32  ...   538.254167
14          NaN          NaN          NaN         NaN  ...          NaN
15          NaN          NaN          NaN         NaN  ...          NaN
16  2004.000000  2005.000000  2006.000000     2007.00  ...        2024년
17   314.065833   282.932500   272.620833      306.43  ...   576.316331
18   292.334167   260.166667   248.286667      279.95  ...   548.655593
19   298.924167   265.858333   256.254167      288.78  ...   609.021386
20   376.710833   366.969167   367.091667      403.12  ...    730.83395
21   299.969167   284.561667   285.561667      321.70  ...   629.328127
22   261.710000   242.272500   238.356667      275.85  ...   533.119798
23   381.489167   348.245833   331.258333      356.53  ...   638.039506
24   328.231667   306.237500   300.599167      335.32  ...   623.015272

    Unnamed: 15  Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  \
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3          2013  2014.000000  2015.000000  2016.000000  2017.000000
4    531.099167   495.292500   461.000000   434.508333   426.070833
5    492.819167   453.137500   418.821667   399.000000   384.325000
6    496.863333   456.917500   424.950833   405.641667   396.746667
7       585.785   546.335833   511.953333   479.441667   471.868333
8    440.775833   418.466667   394.241667   357.450000   345.628333
9    637.318333   609.782500   588.575000   558.916667   549.437500
10     506.8525   508.246667   486.957500   470.675000   459.565833
11   437.148333   432.266667   398.933333   390.116667   380.210833
12     580.3475   550.105833   522.979167   510.866667   470.420000
13     541.8125   519.810000   493.138333   472.575000   461.827500
14          NaN          NaN          NaN          NaN          NaN
15          NaN          NaN          NaN          NaN          NaN
16        2025년          NaN          NaN          NaN          NaN
17   557.702625          NaN          NaN          NaN          NaN
18   532.031984          NaN          NaN          NaN          NaN
19   592.850976          NaN          NaN          NaN          NaN
20   719.832861          NaN          NaN          NaN          NaN
21   619.667824          NaN          NaN          NaN          NaN
22    518.24377          NaN          NaN          NaN          NaN
23   632.260382          NaN          NaN          NaN          NaN
24   610.954272          NaN          NaN          NaN          NaN

    Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23
0           NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN
2           NaN          NaN   (단위: 원/kg)          NaN
3         2018년        2019년        2020년        2021년
4    426.961667   431.960833   428.357041   473.177049
5    392.894167   402.691667   407.744766   450.796204
6    398.569167   406.908333   408.456952   457.046249
7    470.846667   469.300833   461.061712   502.542585
8    363.581667   378.108333   365.879061   401.486446
9    552.076667   561.648333   571.081655   616.126958
10   464.936667   476.511667   488.279374   530.610626
11      378.405   391.825833   412.185429   462.090024
12     474.4675   490.314167   488.072078   538.990126
13   462.683333   472.654167   479.375599   525.318991
14          NaN          NaN          NaN          NaN
15          NaN          NaN          NaN          NaN
16          NaN          NaN          NaN          NaN
17          NaN          NaN          NaN          NaN
18          NaN          NaN          NaN          NaN
19          NaN          NaN          NaN          NaN
20          NaN          NaN          NaN          NaN
21          NaN          NaN          NaN          NaN
22          NaN          NaN          NaN          NaN
23          NaN          NaN          NaN          NaN
24          NaN          NaN          NaN          NaN

[25 rows x 24 columns]
Sheet name: 25년 월별가격
   2025년 월별 배합사료 가격 Unnamed: 1  Unnamed: 2  Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0               NaN        NaN         NaN         NaN        NaN        NaN
1               NaN        NaN         NaN         NaN        NaN        NaN
2                구분        NaN          1월          2월         3월         4월
3                양계        NaN  557.309917  558.095332        NaN        NaN
4               NaN        산란계  531.674467  532.389502        NaN        NaN
5               NaN         육계  593.876562   591.82539        NaN        NaN
6                양돈        NaN  717.809242   721.85648        NaN        NaN
7                낙농        NaN  620.023714  619.311934        NaN        NaN
8                비육        NaN  518.059303  518.428237        NaN        NaN
9                기타        NaN  628.171495   636.34927        NaN        NaN
10             전체평균        NaN  610.056803  611.851742        NaN        NaN
11         평균인상율(%)        NaN           -    0.294225       -100        NaN
12              NaN        NaN         NaN         NaN        NaN        NaN
13               오리        NaN  596.223963  604.819945        NaN        NaN

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11  \
0         NaN        NaN        NaN        NaN         NaN         NaN
1         NaN        NaN        NaN        NaN         NaN         NaN
2          5월         6월         7월         8월          9월         10월
3         NaN        NaN        NaN        NaN         NaN         NaN
4         NaN        NaN        NaN        NaN         NaN         NaN
5         NaN        NaN        NaN        NaN         NaN         NaN
6         NaN        NaN        NaN        NaN         NaN         NaN
7         NaN        NaN        NaN        NaN         NaN         NaN
8         NaN        NaN        NaN        NaN         NaN         NaN
9         NaN        NaN        NaN        NaN         NaN         NaN
10        NaN        NaN        NaN        NaN         NaN         NaN
11        NaN        NaN        NaN        NaN         NaN         NaN
12        NaN        NaN        NaN        NaN         NaN         NaN
13        NaN        NaN        NaN        NaN         NaN         NaN

   Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15
0          NaN         NaN         NaN         NaN
1          NaN         NaN  (단위: 원/kg)         NaN
2          11월         12월        전체평균         NaN
3          NaN         NaN  557.702625         NaN
4          NaN         NaN  532.031984         NaN
5          NaN         NaN  592.850976         NaN
6          NaN         NaN  719.832861         NaN
7          NaN         NaN  619.667824         NaN
8          NaN         NaN   518.24377         NaN
9          NaN         NaN  632.260382         NaN
10         NaN         NaN  610.954272       (양축용)
11         NaN         NaN         NaN         NaN
12         NaN         NaN         NaN         NaN
13         NaN         NaN  600.521954         NaN
Sheet name: 24년 월별가격
   2024년 월별 배합사료 가격 Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
0               NaN        NaN         NaN         NaN         NaN
1               NaN        NaN         NaN         NaN         NaN
2                구분        NaN          1월          2월          3월
3                양계        NaN  585.477996  584.426755  586.282617
4               NaN        산란계  562.830015  561.815816  559.941964
5               NaN         육계  615.334428   612.57745  616.922916
6                양돈        NaN  733.529865  727.154539  732.708137
7                낙농        NaN  640.962179  640.279448  639.177038
8                비육        NaN  545.653348  546.161614  545.899521
9                기타        NaN  651.515738  651.878732  652.225056
10             전체평균        NaN  632.113891  630.333457  631.974463
11         평균인상율(%)        NaN           -   -0.281664    0.260339
12              NaN        NaN         NaN         NaN         NaN
13               오리        NaN  645.110218   664.85838  649.745295

    Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9 Unnamed: 10  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2           4월          5월          6월          7월          8월          9월
3   582.268505  583.002278  584.953088  578.498965  575.054423   570.62261
4   555.878015  555.957794  555.569965  549.347806  547.122725  540.705569
5   613.215429  612.733003  613.285972  608.489041  607.685922  608.344012
6   736.145658  736.264885   735.16078  737.525821  743.318408  723.309364
7   635.216074  635.875119  636.048551  630.238038  620.595432  616.684213
8   540.772095  537.906482  538.686713  537.390116   531.04076  521.657391
9    633.36226  635.170601  636.688225  633.418187  650.019113  634.496244
10   628.00453  627.338654  626.140101  624.878027  623.882841  614.187308
11   -0.628179   -0.106031   -0.191054   -0.201564   -0.159261   -1.554063
12         NaN         NaN         NaN         NaN         NaN         NaN
13  629.738077   618.67655  623.581167  627.059069  623.796058  609.749596

   Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15
0          NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN  (단위: 원/kg)         NaN
2          10월         11월         12월        전체평균         NaN
3    562.78693  563.141357  558.490388  576.316331         NaN
4   529.681417  534.224675  532.304024  548.655593         NaN
5   603.955925   600.30117  593.339831  609.021386         NaN
6    723.54218  721.605285  721.371484   730.83395         NaN
7   620.596872  619.202273  616.188532  629.328127         NaN
8   520.103626  519.550757  513.774492  533.119798         NaN
9     624.0969  628.930032  629.194306  638.039506         NaN
10  613.578886  613.833349  610.070124  623.015272       (양축용)
11   -0.099061    0.041472    -0.61307         NaN         NaN
12         NaN         NaN         NaN         NaN         NaN
13   609.00157  603.954888  598.571241  624.044386         NaN
Sheet name: 23년 월별가격
   2023년 월별 배합사료 가격 Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
0               NaN        NaN         NaN         NaN         NaN
1               NaN        NaN         NaN         NaN         NaN
2                구분        NaN          1월          2월          3월
3                양계        NaN  647.451987  640.554633  631.799354
4               NaN        산란계  632.497651  626.235536  614.766111
5               NaN         육계  665.951395  657.672108  652.339937
6                양돈        NaN  790.221949  787.458778  784.467472
7                낙농        NaN  682.963585  673.107885  669.792371
8                비육        NaN  595.782621  586.069772  579.928617
9                기타        NaN  719.900599  716.318154  699.319947
10             전체평균        NaN  688.839674  681.965511   674.99702
11         평균인상율(%)        NaN           -   -0.997934   -1.021825
12              NaN        NaN         NaN         NaN         NaN
13               오리        NaN  717.849029  736.198597  696.264544

    Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9 Unnamed: 10  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2           4월          5월          6월          7월          8월          9월
3   630.669497  630.502187  633.552185  630.365466  629.422216  620.936512
4   612.251373  611.395271  613.211689  609.810846   609.92637  598.818212
5    651.65069   651.61275  653.248883  650.391979  650.139023  647.269655
6   785.528671   785.87748  792.241367  794.402275  787.947888  775.439324
7    669.79215  669.798324  681.601446  668.247981  672.461193  664.679351
8   582.407055  579.895292  581.571785  580.382781  579.544405  571.990559
9   702.593273  709.392047   709.03711  697.137257  694.565137  694.208022
10  675.527192   674.53693  677.309278  675.907266  672.093275  665.631172
11    0.078544   -0.146591       0.411   -0.206997   -0.564277   -0.961489
12         NaN         NaN         NaN         NaN         NaN         NaN
13   694.18081  704.287237  691.943031  680.591031  690.484963  673.889672

   Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15
0          NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN  (단위: 원/kg)         NaN
2          10월         11월         12월        전체평균         NaN
3   614.726875  600.078988  591.930494  625.165866         NaN
4   592.097155  578.282563      571.06  605.862731         NaN
5   640.939461  625.516116      616.64  646.947666         NaN
6   762.008631  753.853192   741.72109  778.430676         NaN
7   663.647851  658.662856  655.435403  669.182533         NaN
8   570.645754  569.200199  560.699894  578.176561         NaN
9    676.18341  670.901718  664.039164  696.132986         NaN
10  659.622406  651.621139   642.66112  670.059332       (양축용)
11   -0.902717   -1.213007   -1.375035         NaN         NaN
12         NaN         NaN         NaN         NaN         NaN
13   661.85441  653.227102      637.85  686.551702         NaN
Sheet name: 22년 월별가격
          Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0   2022년 월별 배합사료 가격        NaN        NaN        NaN         NaN         NaN
1                NaN        NaN        NaN        NaN         NaN         NaN
2                NaN        NaN        NaN        NaN         NaN         NaN
3                 구분        NaN         1월         2월          3월          4월
4                 양계        NaN     524.43     535.71  541.384873         548
5                NaN        산란계     513.87      526.8  533.298932  540.988801
6                NaN         육계     536.53     545.75  549.470814  555.812768
7                 양돈        NaN     670.68      673.5  695.971403  708.925875
8                 낙농        NaN     574.89     577.82  583.311572  604.457823
9                 비육        NaN        495      494.2  505.011165  529.776064
10                기타        NaN     585.35      600.8  587.828282  620.715255
11              전체평균        NaN        573     578.14   586.88554  604.908148
12          평균인상율(%)        NaN          -   0.897033    1.512703     3.07089
13               NaN        NaN        NaN        NaN         NaN         NaN
14                오리        NaN     582.66     601.54      575.62  581.578228

    Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9 Unnamed: 10 Unnamed: 11  \

In [5]:
import pandas as pd

file_path = "/home/sungyoon/dev_ws/eda/data/월별 년도별 배합사료가격(00년_25년) ~2월.xlsx"


target_sheets = [
    '15년 월별가격 ',
    '16년 월별가격)',
    '17년 월별가격',
    '18년 월별가격 ',
    '19년 월별가격 ',
    '20년 월별가격',
    '21년 월별가격',
    '22년 월별가격',
    '23년 월별가격',
    '24년 월별가격',
]


yangdon_rows = {}

for sheet in target_sheets:
    df = pd.read_excel(file_path, sheet_name=sheet)
   
    mask = df.astype(str).apply(lambda row: row.str.contains('양돈', na=False).any(), axis=1)
    filtered = df[mask]
    if not filtered.empty:
        yangdon_rows[sheet] = filtered


result_df = pd.concat(yangdon_rows.values(), keys=yangdon_rows.keys())

print(result_df)

            Unnamed: 0 Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
15년 월별가격  9         양돈        NaN      606.27      610.81      610.39
16년 월별가격) 9         양돈        NaN       565.4       560.4       556.9
17년 월별가격  9         양돈        NaN       550.7       548.1       549.4
18년 월별가격  9         양돈        NaN      537.04      541.16      540.25
19년 월별가격  9         양돈        NaN      559.04      553.95      562.54
20년 월별가격  9         양돈        NaN      567.94      568.85      563.79
21년 월별가격  9         양돈        NaN  565.587014  568.653918   580.63616
22년 월별가격  7         양돈        NaN      670.68       673.5  695.971403
23년 월별가격  6        NaN        NaN  790.221949  787.458778  784.467472
24년 월별가격  6        NaN        NaN  733.529865  727.154539  732.708137

             Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
15년 월별가격  9      597.93      596.44      596.61      600.38      574.08
16년 월별가격) 9       558.7       563.1       557.9       563.9       564.2
17년 월별가격  9       551.4       551.2       550.5       553.5      553.36
18년 월별가격  9      539.49      544.68      546.62      556.23       564.6
19년 월별가격  9      562.71      567.22      569.46      572.26      567.08
20년 월별가격  9      571.81      578.97  575.871855      587.84       575.5
21년 월별가격  9  613.136232  615.057476  607.700121  594.414367  633.095311
22년 월별가격  7  708.925875  720.424499  742.604481  778.007526  802.842278
23년 월별가격  6  785.528671   785.87748  792.241367  794.402275  787.947888
24년 월별가격  6  736.145658  736.264885   735.16078  737.525821  743.318408

            Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
15년 월별가격  9      579.71      570.51      560.04      559.73     588.575
16년 월별가격) 9       558.9       550.7       554.4       552.5  558.916667
17년 월별가격  9       553.9      544.41      543.04      543.74    549.4375
18년 월별가격  9      564.39      562.67      562.24      565.55  552.076667
19년 월별가격  9      560.55      557.71      554.93      552.33  561.648333
20년 월별가격  9      577.56  567.461484       559.1  560.776968  571.289192
21년 월별가격  9  645.959406  650.216608  663.608495  655.458386  616.126958
22년 월별가격  7  802.551826  803.206435  802.544654  799.247575  750.042213
23년 월별가격  6  775.439324  762.008631  753.853192   741.72109  778.430676
24년 월별가격  6  723.309364   723.54218  721.605285  721.371484   730.83395

            Unnamed: 15 2023년 월별 배합사료 가격 2024년 월별 배합사료 가격
15년 월별가격  9         NaN              NaN              NaN
16년 월별가격) 9         NaN              NaN              NaN
17년 월별가격  9         NaN              NaN              NaN
18년 월별가격  9         NaN              NaN              NaN
19년 월별가격  9         NaN              NaN              NaN
20년 월별가격  9         NaN              NaN              NaN
21년 월별가격  9         NaN              NaN              NaN
22년 월별가격  7         NaN              NaN              NaN
23년 월별가격  6         NaN               양돈              NaN
24년 월별가격  6         NaN              NaN               양돈

In [6]:
import re

long_format_rows = []

for sheet in target_sheets:
    df = pd.read_excel(file_path, sheet_name=sheet)


    mask = df.astype(str).apply(lambda row: row.str.contains('양돈', na=False).any(), axis=1)
    filtered = df[mask]
    if filtered.empty:
        continue


    match = re.search(r"(\d+)", sheet)
    if not match:
        continue
    year_suffix = match.group(1)
    year = int("20" + year_suffix) if int(year_suffix) < 30 else int("19" + year_suffix)

    
    month_cols = filtered.columns[3:15] 
    prices = filtered.iloc[0, 2:14].values 

    for month_index, price in enumerate(prices, start=1):
        month_str = f"{year}-{month_index:02d}"
        long_format_rows.append({'month': month_str, 'feed_price': price})


feed_df = pd.DataFrame(long_format_rows)


print(feed_df.head(14))

      month  feed_price
0   2015-01      606.27
1   2015-02      610.81
2   2015-03      610.39
3   2015-04      597.93
4   2015-05      596.44
5   2015-06      596.61
6   2015-07      600.38
7   2015-08      574.08
8   2015-09      579.71
9   2015-10      570.51
10  2015-11      560.04
11  2015-12      559.73
12  2016-01      565.40
13  2016-02      560.40

In [7]:
corn_df['month'] = corn_df['year'] + '-01'  # Assuming you want to use January for each year
df = pd.merge(corn_df, feed_df, on='month')

print(df)

   year  corn_price  exchange_rate  krw_based_price    month  feed_price
0  2015    3.766726    1129.992490      4256.372308  2015-01  606.270000
1  2016    3.584540    1158.687008      4153.359926  2016-01  565.400000
2  2017    3.592241    1129.928255      4058.974645  2017-01  550.700000
3  2018    3.680663    1099.446478      4046.691590  2018-01  537.040000
4  2019    3.833879    1164.024425      4462.728761  2019-01  559.040000
5  2020    3.633300    1178.353741      4281.313112  2020-01  567.940000
6  2021    5.819851    1143.850536      6657.039906  2021-01  565.587014
7  2022    6.938855    1291.037695      8958.322827  2022-01  670.680000
8  2023    5.637070    1305.279728      7357.953196  2023-01  790.221949
9  2024    4.236863    1361.472228      5768.370695  2024-01  733.529865

In [8]:
df = pd.merge(corn_df, feed_df, on = 'month')

print(df)

   year  corn_price  exchange_rate  krw_based_price    month  feed_price
0  2015    3.766726    1129.992490      4256.372308  2015-01  606.270000
1  2016    3.584540    1158.687008      4153.359926  2016-01  565.400000
2  2017    3.592241    1129.928255      4058.974645  2017-01  550.700000
3  2018    3.680663    1099.446478      4046.691590  2018-01  537.040000
4  2019    3.833879    1164.024425      4462.728761  2019-01  559.040000
5  2020    3.633300    1178.353741      4281.313112  2020-01  567.940000
6  2021    5.819851    1143.850536      6657.039906  2021-01  565.587014
7  2022    6.938855    1291.037695      8958.322827  2022-01  670.680000
8  2023    5.637070    1305.279728      7357.953196  2023-01  790.221949
9  2024    4.236863    1361.472228      5768.370695  2024-01  733.529865

In [9]:
import mysql.connector
import pandas as pd

# MySQL 연결 설정
conn = mysql.connector.connect(
    host='database-1.cba44miw26by.ap-northeast-2.rds.amazonaws.com',
    user='psy',
    password='0000',
    database='pig'
)
cursor = conn.cursor()

# 기존 테이블 삭제 및 새 테이블 생성
cursor.execute("DROP TABLE IF EXISTS feed_price")
cursor.execute("""
    CREATE TABLE feed_price(
        year DATE PRIMARY KEY,
        corn_price FLOAT,
        exchange_rate FLOAT,
        krw_based_price FLOAT,
        feed_price FLOAT
    )
""")

# 데이터 정리
df = df.dropna(subset=['year', 'corn_price', 'exchange_rate', 'krw_based_price', 'feed_price'])
df = df.drop_duplicates(subset=['year'])
df['year'] = pd.to_datetime(df['year'], errors='coerce')
df = df.dropna(subset=['year'])
df.rename(columns={'KRW-based price': 'krw_based_price'}, inplace=True)
df['year'] = df['year'].dt.to_period('M').dt.to_timestamp()

# 데이터 준비
data = [(
    row['year'].strftime('%Y-%m-%d'),  # '%Y-%m' -> '%Y-%m-%d'
    float(row['corn_price']),
    float(row['exchange_rate']),
    float(row['krw_based_price']),
    float(row['feed_price'])
) for _, row in df.iterrows()]

# 데이터 삽입
insert_sql = """
    INSERT INTO feed_price (year, corn_price, exchange_rate, krw_based_price, feed_price)
    VALUES (%s, %s, %s, %s, %s)
"""
cursor.executemany(insert_sql, data)

# 커밋 및 연결 종료
conn.commit()
cursor.close()
conn.close()

print("사료 가격 데이터가 MySQL에 성공적으로 삽입되었습니다.")

사료 가격 데이터가 MySQL에 성공적으로 삽입되었습니다.

In [ ]:
import yfinance as yf
from datetime import datetime, timedelta

def get_previous_trading_day(ticker_symbol, max_lookback=7):
    today = datetime.today()
    for i in range(1, max_lookback + 1):
        day = today - timedelta(days=i)
        data = yf.Ticker(ticker_symbol).history(start=day.strftime('%Y-%m-%d'), end=(day + timedelta(days=1)).strftime('%Y-%m-%d'))
        if not data.empty:
            return day.strftime('%Y-%m-%d'), data['Close'].iloc[0]
    return None, None

symbol = "ZC=F"
date_str, close_price = get_previous_trading_day(symbol)


print(f"{date_str} 기준 옥수수 선물 종가: {close_price:.2f} USD")

2025-03-24 기준 옥수수 선물 종가: 464.50 USD